#header{
    background-color: rgb(105, 100, 97);
    text-align: center;
    margin-bottom: 20px;
}

#header h1 {
    color:white;
}

.subtitle {
    margin-bottom: 0;
}
#header p {
    color:white;
}

.card {
    width:60%;
    margin: auto;
}